.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  background-color: #c6dafe;
}

.App-header {
  overflow: visible;
  text-align: center;
  color: white;
}

.App-header:after {
  background-color: #f36bab;
  content: "";
  position: absolute;

  width: 0;
  height: 0;
  border: calc(60 * 0.13) solid transparent;
  border-top-color: #f36bab;
  border-bottom: 0;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: #f4f7ff;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: grey;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: white;
  color: grey;
  display: inline-block;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.currentMember > .Message-content .text {
  background-color: #f36bab;
  color: white;
}

form {
  display: flex;
  width: 75%;
  justify-content: space-between;
  max-width: 900px;
  margin: 5px auto 100px;
  border-style: none;
}

input {
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  /* border: 0px solid #EB25620; */
  flex-grow: 1;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #f36bab;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
